﻿@model EventManagementSystem.Models.UserEntityRegisterVM
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }

        table {
            border: 1px solid #ccc;
            border-collapse: collapse;
        }

            table th {
                background-color: #F7F7F7;
                color: #333;
                font-weight: bold;
            }

            table th, table td {
                padding: 5px;
                border: 1px solid #ccc;
            }

        .error {
            color: red;
        }
    </style>
</head>
<body>
    
    @using (Html.BeginForm("RegisterUser", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <th colspan="3">
                Registration
            </th>
        </tr>
        <tr>
            <td>
                User Name
            </td>
            <td>
                @Html.TextBoxFor(model => model.User.UserName, new { htmlAttributes = new { @class = "form-control" } })
                <br />
                @Html.ValidationMessageFor(model => model.User.UserName, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>
                Password
            </td>
            <td>
                @Html.PasswordFor(model => model.User.Password, new { htmlAttributes = new { @class = "form-control" } })
                <br />
                @Html.ValidationMessageFor(model => model.User.Password, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>
                Email
            </td>
            <td>
                @Html.TextBoxFor(model => model.User.Email, new { htmlAttributes = new { @class = "form-control" } })
                <br />
                @Html.ValidationMessageFor(model => model.User.Email, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>
                Role
            </td>
            <td>
                @Html.DropDownListFor(x => x.User.UserRoleId, new SelectList(Model.Roles, "UserRoleId", "RoleName"),
               htmlAttributes: new { @class = "form-control", id = "Role" })
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Register" />
            </td>
        </tr>
    </table>
    }
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @if (@ViewBag.Message != null)
    {
        <script type="text/javascript">
            $(function () {
                alert("@ViewBag.Message")
            });
        </script>
    }
</body>
</html>