﻿@model EventManagementSystem.Models.EventEntityViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }

        table {
            border: 1px solid #ccc;
            border-collapse: collapse;
        }

            table th {
                background-color: #F7F7F7;
                color: #333;
                font-weight: bold;
            }

            table th, table td {
                padding: 5px;
                border: 1px solid #ccc;
            }

        .error {
            color: red;
        }
    </style>
</head>
<body>
    <h3>@ViewBag.result</h3>
    @using (Html.BeginForm("CreateEvent", "Event", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <th colspan="3">
                Add Event
            </th>
        </tr>
        <tr>
            <td>
                Event Name
            </td>
            <td>
                @Html.TextBoxFor(model => model.EventEntity.EventName, new { htmlAttributes = new { @class = "form-control" } })
                <br />
                @Html.ValidationMessageFor(model => model.EventEntity.EventName, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>
                Host Name
            </td>
            <td>
                @Html.DropDownListFor(model => model.EventEntity.HostId, new SelectList(Model.Users, "UserId", "UserName"),
               htmlAttributes: new { @class = "form-control", id = "User" })
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Add" />
            </td>
        </tr>
    </table>
    }
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @if (@ViewBag.Message != null)
    {
        <script type="text/javascript">
            $(function () {
                alert("@ViewBag.Message")
            });
        </script>
    }
</body>
</html>