﻿@model IEnumerable<EventManagementSystem.Models.EventDataUI>

@{
    ViewBag.Title = "Host";
    Layout = "~/Views/_ViewStart.cshtml";
    WebGrid webGrid = new WebGrid(source: Model);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }

        .Grid {
            border: 1px solid #ccc;
            border-collapse: collapse;
        }

            .Grid th {
                background-color: #F7F7F7;
                font-weight: bold;
            }

            .Grid th, .Grid td {
                padding: 5px;
                border: 1px solid #ccc;
            }

            .Grid, .Grid table td {
                border: 0px solid #ccc;
            }

                .Grid th a, .Grid th a:visited {
                    color: #333;
                }
    </style>
</head>
<body>

    @using (Html.BeginForm("MultipleCommand", "Event", FormMethod.Post, new { id = "submitForm" }))
    {
        @Html.AntiForgeryToken()
        <table>
            <tr>
                <td>
                    @webGrid.GetHtml(
                            htmlAttributes: new { @id = "WebGrid", @class = "Grid" },
                            columns: webGrid.Columns(
                        webGrid.Column("EventName", "Event Name"),
                        webGrid.Column("HostName", "Host Name"),
                        webGrid.Column(header: "Action", format: (item) =>
                        Html.ActionLink("View Attendees", "ViewAttendees", new { eventId = item.EventId }))))

                </td>
            </tr>
        </table>
    }
</body>
</html>
