﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Event Mgmt Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: navy">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Event Management System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{if (@HttpContext.Current.Session["UserId"] == null)
                        {
                            <li>@Html.ActionLink("Login", "Login", "Home")</li>
                        } }

                    @{if (@HttpContext.Current.Session["UserName"] != null &&
                              @HttpContext.Current.Session["UserName"].ToString() == "admin")
                        {
                            <li>@Html.ActionLink("Register", "Register", "Home")</li>
                            <li>@Html.ActionLink("Approve Events", "ApproveEvents", "Event")</li>
                        }
                    }


                    @{if (@HttpContext.Current.Session["UserId"] != null)
                        {

                            <li>@Html.ActionLink("Events", "Index", "Event")</li>
                            <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
                        }}
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Event Mgmt Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
